body {color: rgb(26, 154, 152);
	background-color: blanchedalmond;
	font-size:x-large;
	text-align: center;
}
.serv{
	margin: 6%;
	padding: 2%;
	border:rgb(26, 154, 152) 2px solid;
}
.invisible{
	display: none;
}
.visible{
	display: block;
}
img.imag{
	float: left;
	max-width: 20%;
}


